/* Responsive Grid */
.price-content li {
  list-style: none;
}
.row-fluid {
  width: 100%;
  *zoom: 1;
}

.container-fluid .page-center { 	
  float: none  !important;
  max-width: {{ theme.spacing.max_width }}px !important;
  margin: 0 auto  !important;
  padding-bottom: {{ theme.spacing.desktop_section_top_bottom }}px;
  padding-top: {{ theme.spacing.desktop_section_top_bottom }}px;
  padding-left: 15px;
  padding-right: 15px;
}
.row-fluid:before, .row-fluid:after {
  display: table;
  content: "";
}

.row-fluid:after {
  clear: both;
}

.row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 1px;
  margin-left: 2.127659574%;
  *margin-left: 2.0744680846382977%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}

.row-fluid .span12 {
  width: 99.99999998999999%;
  *width: 99.94680850063828%;
}

.row-fluid .span11 {
  width: 91.489361693%;
  *width: 91.4361702036383%;
}

.row-fluid .span10 {
  width: 82.97872339599999%;
  *width: 82.92553190663828%;
}

.row-fluid .span9 {
  width: 74.468085099%;
  *width: 74.4148936096383%;
}

.row-fluid .span8 {
  width: 65.95744680199999%;
  *width: 65.90425531263828%;
}

.row-fluid .span7 {
  width: 57.446808505%;
  *width: 57.3936170156383%;
}

.row-fluid .span6 {
  width: 48.93617020799999%;
  *width: 48.88297871863829%;
}

.row-fluid .span5 {
  width: 40.425531911%;
  *width: 40.3723404216383%;
}

.row-fluid .span4 {
  width: 31.914893614%;
  *width: 31.8617021246383%;
}

.row-fluid .span3 {
  width: 23.404255317%;
  *width: 23.3510638276383%;
}

.row-fluid .span2 {
  width: 14.89361702%;
  *width: 14.8404255306383%;
}

.row-fluid .span1 {
  width: 6.382978723%;
  *width: 6.329787233638298%;
}

.container-fluid {
  *zoom: 1;
}

.container-fluid:before, .container-fluid:after {
  display: table;
  content: "";
}

.container-fluid:after {
  clear: both;
}

@media (max-width: 767px) {
  .row-fluid {
    width: 100%;
  }

  .row-fluid [class*="span"] {
    display: block;
    float: none;
    width: auto;
    margin-left: 0;
  }
}
 

@media (min-width: 1280px) {
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }

  .row-fluid:before, .row-fluid:after {
    display: table;
    content: "";
  }

  .row-fluid:after {
    clear: both;
  }

  .row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 1px;
    margin-left: 2.564102564%;
    *margin-left: 2.510911074638298%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }

  .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }

  .row-fluid .span11 {
    width: 91.45299145300001%;
    *width: 91.3997999636383%;
  }

  .row-fluid .span10 {
    width: 82.905982906%;
    *width: 82.8527914166383%;
  }

  .row-fluid .span9 {
    width: 74.358974359%;
    *width: 74.30578286963829%;
  }

  .row-fluid .span8 {
    width: 65.81196581200001%;
    *width: 65.7587743226383%;
  }

  .row-fluid .span7 {
    width: 57.264957265%;
    *width: 57.2117657756383%;
  }

  .row-fluid .span6 {
    width: 48.717948718%;
    *width: 48.6647572286383%;
  }

  .row-fluid .span5 {
    width: 40.170940171000005%;
    *width: 40.117748681638304%;
  }

  .row-fluid .span4 {
    width: 31.623931624%;
    *width: 31.5707401346383%;
  }

  .row-fluid .span3 {
    width: 23.076923077%;
    *width: 23.0237315876383%;
  }

  .row-fluid .span2 {
    width: 14.529914530000001%;
    *width: 14.4767230406383%;
  }

  .row-fluid .span1 {
    width: 5.982905983%;
    *width: 5.929714493638298%;
  }
}

/* Clearfix */

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

/* Visibilty Classes */

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
  visibility: hidden;
}

/* Responsive Visibilty Classes */

.visible-phone {
  display: none !important;
}

.visible-tablet {
  display: none !important;
}

.hidden-desktop {
  display: none !important;
}

.dnd-module .span12 .span12{
  margin-top: 0 !important;
}
.row-fluid .span12  {
  margin-left: 0;
}
.dnd-module .span12 .span12:first-child{
  margin-top: 0px !important;
}
.dnd-module .span2,
.dnd-module .span12 .span2 {
  margin-top: 20px;
} 
.mt0 {
  margin-top: 0;
}

.dnd-section .dnd-module .span12,
.model-magazine .span12,
.dnd-section .dnd-column.span12 {
  margin-top: 30px;
}
.dnd-section .dnd-module .span6,
.dnd-section .dnd-column.span6 {
  margin-top: 20px;
}
.model-magazine .span12:first-child,
.dnd-section .dnd-module .span12:first-child,
.dnd-section .dnd-column.span12:first-child,
.dnd-section .dnd-module .span6:first-child,
.dnd-section .dnd-column.span6:first-child,
.dnd-section .dnd-module .span6:nth-child(2),
.dnd-section .dnd-column.span6:nth-child(2) {
  margin-top: 0 !important;
}
@media (max-width: 767px) {
  .visible-phone {
    display: inherit !important;
  }

  .hidden-phone {
    display: none !important;
  }

  .hidden-desktop {
    display: inherit !important;
  }

  .visible-desktop {
    display: none !important;
  }
  .copyright-bg .span6 {
    text-align: center;
    margin-top: 15px;
  }
  .footer-icons ul {
    margin: 0 auto !important;
  }
  .copyright-bg .span6:first-child { 
    margin-top: 0;
  }
  .footer .span4,
  .footer .span3,
  .dnd-section .dnd-column .span4,
  .dnd-section .dnd-module .span4,
  .dnd-section .dnd-column.span3,
  .dnd-section .dnd-module .span3 {
    margin-top: 30px; 
  }
  .footer .span4:first-child,
  .footer .span3:first-child,
  .dnd-section .dnd-column.span4:first-child,
  .dnd-section .dnd-column.span3:first-child,
  .dnd-section .dnd-module .span4:first-child,
  .dnd-section .dnd-module .span3:first-child {
    margin-top: 0;
  }
  .client-img-div .span2 {
    text-align: center;
    margin-top: 20px;
  }
  .client-img-div .span2:first-child {
    margin-top: 0;
  }
  .dnd-column.span4 {
    width: 100% !important; 
  }
  .dnd-column.span5,
  .dnd-column.span8 {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .dnd-module .span12 .span2 {
    margin-top: 20px !important;
  }
  .dnd-module .span12 .span2:first-child {
    margin-top: 0 !important;
  }
  .span4 .blog-sidebar {
    margin-top: 30px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .footer .span4,
  .footer .span3,
  .dnd-section .dnd-column.span4,
  .dnd-section .dnd-module .span4,
  .dnd-section .dnd-column.span3,
  .dnd-section .dnd-module .span3 { 
    width: 360px;
    margin-left: auto !important;
    margin-right: auto;
  }
}
@media (min-width: 768px) and (max-width: 1139px) {
  .visible-tablet {
    display: inherit !important;
  }

  .hidden-tablet {
    display: none !important;
  }

  .hidden-desktop {
    display: inherit !important;
  }

  .visible-desktop {
    display: none !important ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .dnd-column.span5,
  .dnd-column.span8 {
    margin-bottom: 20px;
    margin-top: 20px;
  } 
  .services-span .span4:nth-child(2n-1) {
    clear: both;
  }
  .dnd-section .dnd-module .span4:last-child {
    clear: none !important;
  }
  .row-fluid {
    width: 100%;
  }
  .dnd-section .dnd-module .span6 {
    width: 100% !important;
    margin-left: 0;
  }
  .dnd-section .dnd-module .span6:first-child {
    margin-top: 0 !important;    
  }
  .cta-content-width .span3 {
    width: 100% !important;
    margin-top: 30px !important; 
    float: none !important;
  }
  .client-img-div .span2 {
    margin-top: 30px !important;
    flex: 0 0 25%;
    width: 25%;
    position: relative;
    margin-left: 0 !important;
    float: left;
    padding: 0 15px;
  }

  .client-img-div .span2:first-child,
  .client-img-div .span2:nth-child(2),
  .client-img-div .span2:mth-child(3),
  .client-img-div .span2:nth-child(4) {
    margin-top: 0 !important;
  } 
  .dnd-section .dnd-column.span4 {
    clear: both;
  }
  .footer .span4,
  .footer .span3,
  .dnd-section .dnd-column.span4,
  .dnd-section .dnd-module .span4,
  .dnd-section .dnd-column.span3,
  .dnd-section .dnd-module .span3 {
    margin-top: 30px;
    flex: 0 0 50%;
    width: 50%;
    position: relative;
    margin-left: 0 !important;
    float: left;
    padding: 0 15px;
  }
  .dnd-section .dnd-module .span3:nth-child(3n+0) {
    clear: left;
  }
  .footer .span4:first-child,
  .footer .span3:first-child,
  .dnd-section .dnd-column.span4:first-child,
  .dnd-section .dnd-column.span3:first-child,
  .dnd-section .dnd-module .span4:first-child,
  .dnd-section .dnd-module .span3:first-child,
  .footer .span4:nth-child(2),
  .footer .span3:nth-child(2),
  .dnd-section .dnd-column.span4:nth-child(2),
  .dnd-section .dnd-column.span3:nth-child(2),
  .dnd-section .dnd-module .span4:nth-child(2),
  .dnd-section .dnd-module .career-group .span4:nth-child(3),
  .dnd-section .dnd-module .span3:nth-child(2) {
    margin-top: 0;
  }
  .footer .span4:last-child {
    float: none;
    margin: 0 auto !important; 
    display: table; 
    padding-top: 30px;
    clear: both !important;
  }
  .span3.footer-support {
    clear: both;
  }
  .copyright-bg .span6 {
    text-align: center;
    margin-top: 15px;
  }
  .footer-icons ul {
    margin: 0 auto !important;
  }
  .copyright-bg .span6:first-child { 
    margin-top: 0;
  }
  .dnd-section .dnd-module .span6:nth-child(2n-1) {
    clear: both !important;
  }
  .span4.client-des-img {
    padding: 0 !important;
    width: 35% !important;
    flex: 0 0 35% !important;
  }  
  .port-2.masonry-2 .span12 .span4,
  .port-2.masonry-2 .span12 .span8,
  .port-2.masonryeffectcontent2 .portfolio-col2,
  .port-2.masonryeffectcontent4 .portfolio-col2, 
  .port-2.masonryeffectcontent5 .portfolio-col2, 
  .port-2.masonryeffectcontent6 .portfolio-col2, 
  .port-2.masonryeffectcontent3 .portfolio-col2 {
    margin-bottom: 0px;
    float: left;
    display: inherit;
    padding: 0;
  }
  .port-2.masonry-2 .span12 .span8 {
    width: 100%;
  }
}

@media (max-width: 480px) {   
  .dnd-module .span12,
  .dnd-module .span12.res-width,
  .footer-bg .span12.res-width{
    width: 100%;
  } 
  .footer2-bg .span12 .span3,
  .footer2-bg .span12 .span5,
  .footer2-bg .span12 .span2,
  .dnd-module .span12 .span4,
  .dnd-module .span12 .span3,
  .footer-bg .span12 .span4 {
    width: 100%;
    display: table;
    float: none;
    margin: 30px auto 0 auto;
  }  
}