.footer__container {
  max-width: 1273px !important;
  display: table;
  width: 100%;
}
.footer__container {
  padding: {{ theme.spacing.desktop_section_top_bottom ~ 'px' }} 15px;
  margin: 0 auto;
}
#return-to-top {
  position: fixed;
  right: 0;
  bottom: -50px;
  z-index: 111;
  box-shadow: 0 5px 25px rgba(0,0,0,0.15), 0 6px 6px rgba(0,0,0,0.15);
  display: block;
  padding: 0;
  width: 38px;
  height: 38px;
  border-radius: 4px;
  text-align: center;
  font-size: 25px;
  line-height: 60px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  background-color: rgba({{ theme.miscellaneous.scroll_to_top.background_color.color|convert_rgb }}, {{ theme.miscellaneous.scroll_to_top.background_color.opacity / 100 }});
  background-size: 200% auto;
  background-position: left center;
  color: #ff4500;
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  overflow: hidden;
  border: 1px solid {{ theme.miscellaneous.scroll_to_top.background_color.color }};
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
} 

@media only screen and (max-width: 479px) {
  #return-to-top {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
  }
}

#return-to-top.show {
  visibility: visible;
  opacity: 1;
  bottom: 60px;
}

#return-to-top i {
  position: absolute;
  top: 50%;
  left: 50%;
  color: {{ theme.miscellaneous.scroll_to_top.icon_color.color }} !important;  
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-size: 18px;
  line-height: 28px;
}

#return-to-top .arrow-top {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#return-to-top .arrow-bottom {
  -webkit-transform: translate(-50%, 80px);
  -ms-transform: translate(-50%, 80px);
  transform: translate(-50%, 80px);
}

#return-to-top:hover {
  background-position: right center;
}

#return-to-top:hover .arrow-top {
  -webkit-transform: translate(-50%, -80px);
  -ms-transform: translate(-50%, -80px);
  transform: translate(-50%, -80px);
}

#return-to-top:hover .arrow-bottom {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} 
